<div class="login-card">
  <div class="login-header">
    <div class="login-logo">
      <img src="assets/logo.svg" alt="Nkapay" />
      <span class="login-brand">Nkapay</span>
    </div>
    <h2>Bon retour 👋</h2>
    <p>Connectez-vous à votre espace tontine</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="telephone">Numéro de téléphone</label>
      <div class="input-wrapper">
        <span class="material-icons input-icon">phone</span>
        <span class="country-prefix">+237</span>
        <input
          type="tel"
          id="telephone"
          formControlName="telephone"
          placeholder="6XX XXX XXX"
          class="has-prefix"
          [class.invalid]="f['telephone'].invalid && f['telephone'].touched"
        />
      </div>
      <ng-container *ngIf="f['telephone'].invalid && f['telephone'].touched">
        <span class="error-message">
          <span class="material-icons">error_outline</span>
          <ng-container *ngIf="f['telephone'].errors?.['required']">Le numéro de téléphone est requis</ng-container>
          <ng-container *ngIf="f['telephone'].errors?.['pattern']">Format invalide (9 chiffres)</ng-container>
        </span>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <div class="input-wrapper">
        <span class="material-icons input-icon">lock</span>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="Votre mot de passe"
          [class.invalid]="f['password'].invalid && f['password'].touched"
        />
        <button type="button" class="toggle-password" (click)="togglePassword()" [title]="showPassword() ? 'Masquer' : 'Afficher'">
          <span class="material-icons">{{ showPassword() ? 'visibility_off' : 'visibility' }}</span>
        </button>
      </div>
      <ng-container *ngIf="f['password'].invalid && f['password'].touched">
        <span class="error-message">
          <span class="material-icons">error_outline</span>
          <ng-container *ngIf="f['password'].errors?.['required']">Le mot de passe est requis</ng-container>
          <ng-container *ngIf="f['password'].errors?.['minlength']">Au moins 4 caractères</ng-container>
        </span>
      </ng-container>
    </div>

    <button type="submit" class="btn-submit" [disabled]="isLoading()">
      <ng-container *ngIf="isLoading(); else loginLabel">
        <span class="spinner"></span>
        Connexion en cours…
      </ng-container>
      <ng-template #loginLabel>
        <span class="material-icons">login</span>
        Se connecter
      </ng-template>
    </button>
  </form>
</div>
